/* start image top news */
.feedback-box {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0; /* حذف padding از خود باکس */
}

.feedback-image-wrapper {
    width: 100%;
    height: auto; /* یا هر ارتفاع دلخواه */
    overflow: hidden;
}

.feedback-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* بقیه محتوا padding داشته باشه */
.feedback-box > *:not(.feedback-image-wrapper) {
    padding-top: 1rem;
}

.feedback-box-link{
    padding: 10px;
}

.news-title{
        font-family: IRANSans;
        font-size: 28px;
}

.news-subtitle{
        background-color: #e9ecef;
        padding: 10px;
        border-radius: 5px;
        font-family: IRANSans;
}

/* end image top news */
