/* start image top news */
.feedback-box {
    /* background-color: #fff; */
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); */
    overflow: hidden;
    transition: all 0.3s ease;
    /* padding: 0; حذف padding از خود باکس */
}
.feedback-box .tag-item {
    margin: 5px;
}
.feedback-image-wrapper {
    width: 100%;
    height: auto; /* یا هر ارتفاع دلخواه */
    overflow: hidden;
}

.feedback-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* بقیه محتوا padding داشته باشه */
.feedback-box > *:not(.feedback-image-wrapper) {
    padding-top: 1rem;
}

.feedback-box-link{
    padding: 10px;
}

.news-title{
        font-family: IRANSans;
        font-size: 28px;
}

.news-subtitle{
        background-color: #e9ecef;
        padding: 10px;
        border-radius: 5px;
        font-family: IRANSans;
}

/* end image top news */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.justify-text,
.justify-text > * {
    text-align: justify !important;
    line-height: 1.6 !important;
    padding: 0 5px;
}


.tag-item {
    display: inline-block;
    background-color: #e0f0ff;
    color: #0366d6;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0 5px 5px 0;
    font-size: 0.9rem;
    cursor: default;
}



/* styles start */
@media (max-width: 767.98px) {
    .custom-responsive-row {
      display: block !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .custom-responsive-row > [class^="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @media (min-width: 768px) {
    .custom-responsive-row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }

    .custom-responsive-row > [class^="col-"] {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
/* styles end */
